<a href="https://colab.research.google.com/github/lorenzosquassoni/Programming-Lectures-UNIVR/blob/main/Progetto_Programming_Australia_weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Australia weather 2007-2017**

Dataset from https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package

* Location: the common name of the location of the weather station
* MinTemp: the minimum temperature in degrees celsius
* MaxTemp: the maximum temperature in degrees celsius
* Rainfall: the amount of rainfall recorded for the day in mm
* Evaporation: MOLTI DATI MANCANTI evaporation (mm) in the 24 hours to 9am 
* Sunshine: MOLTI DATI MANCANTI the number of hours of bright sunshine in the day 
* WindGusDir: the direction of the strongest wind gust in the 24 hours to midnight
* WindGuSpeed: the speed (km/h) of the strongest wind gust in the 24 hours to midnight
* WindDir9am: direction of the wind at 9am
* WindDir3pm: direction of the wind at 3pm
* WindSpeed9am: wind speed (km/hr) averaged over 10 minutes prior to 9am
* WindSpeed3pm: wind speed (km/hr) averaged over 10 minutes prior to 3pm
* Humidity9am: humidity (percent) at 9am
* Humidity3pm: humidity (percent) at 3pm
* Pressure9am: atmospheric pressure (hpa) reduced to mean sea level at 9am
* Pressure3pm: atmospheric pressure (hpa) reduced to mean sea level at 3pm
* Cloud9am: MOLTI DATI MANCANTI fraction of sky obscured by cloud at 9am. This is measured in "oktas", which are a unit of eigths. It records how many
* Cloud3pm: MOLTI DATI MANCANTIfraction of sky obscured by cloud (in "oktas": eighths) at 3pm. See Cload9am for a description of the values
* Temp9am: temperature (degrees C) at 9am
* Temp3pm: temperature (degrees C) at 3pm
* RainToday: boolean: 1 if precipitation (mm) in the 24 hours to 9am exceeds 1mm, otherwise 0
* RainTomorrow: the amount of next day rain in mm.

In [1]:
import numpy as np
import pandas as pd

In [2]:
#import the dataset and create a dataframe

weather_australia_df=pd.read_csv('weather_australia.csv')

**EXPLORATORY DATA ANALYSIS**

Each data point represents the data on weather for every day from 2007 to 2017 in some Australian cities

In [3]:
weather_australia_df.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,58.0,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,No

In [4]:
weather_australia_df.tail(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
145450,2017-06-16,Uluru,5.2,24.3,0.0,NaN,NaN,E,24.0,SE,...,53.0,24.0,1023.8,1020.0,NaN,NaN,12.3,23.3,No,No
145451,2017-06-17,Uluru,6.4,23.4,0.0,NaN,NaN,ESE,31.0,S,...,53.0,25.0,1025.8,1023.0,NaN,NaN,11.2,23.1,No,No
145452,2017-06-18,Uluru,8.0,20.7,0.0,NaN,NaN,ESE,41.0,SE,...,56.0,32.0,1028.1,1024.3,NaN,7.0,11.6,20.0,No,No
145453,2017-06-19,Uluru,7.4,20.6,0.0,NaN,NaN,E,35.0,ESE,...,63.0,33.0,1027.2,1023.3,NaN,NaN,11.0,20.3,No,No
145454,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,No
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [5]:
weather_australia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [6]:
weather_australia_df.describe().T

,count,mean,std,min,25%,50%,75%,max
MinTemp,143975.0,12.194034,6.398495,-8.5,7.6,12.0,16.9,33.9
MaxTemp,144199.0,23.221348,7.119049,-4.8,17.9,22.6,28.2,48.1
Rainfall,142199.0,2.360918,8.478060,0.0,0.0,0.0,0.8,371.0
Evaporation,82670.0,5.468232,4.193704,0.0,2.6,4.8,7.4,145.0
Sunshine,75625.0,7.611178,3.785483,0.0,4.8,8.4,10.6,14.5
WindGustSpeed,135197.0,40.035230,13.607062,6.0,31.0,39.0,48.0,135.0
WindSpeed9am,143693.0,14.043426,8.915375,0.0,7.0,13.0,19.0,130.0
WindSpeed3pm,142398.0,18.662657,8.809800,0.0,13.0,19.0,24.0,87.0
Humidity9am,142806.0,68.880831,19.029164,0.0,57.0,70.0,83.0,100.0
Humidity3pm,140953.0,51.539116,20.795902,0.0,37.0,52.0,66.0,100.0
Pressure9am,130395.0,1017.649940,7.106530,980.5,1012.9,1017.6,1022.4,1041.0
Pressure3pm,130432.0,1015.255889,7.037414,977.1,1010.4,1015.2,1020.0,1039.6
Cloud9am,89572.0,4.447461,2.887159,0.0,1.0,5.0,7.0,9.0
Cloud3pm,86102.0,4.509930,2.720357,0.0,2.0,5.0,7.0,9.0
Temp9am,143693.0,16.990631,6.488753,-7.2,12.3,16.7,21.6,40.2
Temp3pm,141851.0,21.683390,6.936650,-5.4,16.6,21.1,26.4,46.7

In [7]:
weather_australia_df.shape

(145460, 23)

In [8]:
weather_australia_df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [9]:
#rename all the columns  with all lower case letters, and remove possible empty spaces at the beginning and end od the column name

weather_australia_df.columns= list(map(lambda x:x.lower().strip(), 
weather_australia_df.columns))


weather_australia_df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'humidity9am', 'humidity3pm',
       'pressure9am', 'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am',
       'temp3pm', 'raintoday', 'raintomorrow'],
      dtype='object')

In [10]:
#the database contains data of these cities

weather_australia_df.location.unique()

array(['Albury', 'BadgerysCreek', 'Cobar', 'CoffsHarbour', 'Moree',
       'Newcastle', 'NorahHead', 'NorfolkIsland', 'Penrith', 'Richmond',
       'Sydney', 'SydneyAirport', 'WaggaWagga', 'Williamtown',
       'Wollongong', 'Canberra', 'Tuggeranong', 'MountGinini', 'Ballarat',
       'Bendigo', 'Sale', 'MelbourneAirport', 'Melbourne', 'Mildura',
       'Nhil', 'Portland', 'Watsonia', 'Dartmoor', 'Brisbane', 'Cairns',
       'GoldCoast', 'Townsville', 'Adelaide', 'MountGambier', 'Nuriootpa',
       'Woomera', 'Albany', 'Witchcliffe', 'PearceRAAF', 'PerthAirport',
       'Perth', 'SalmonGums', 'Walpole', 'Hobart', 'Launceston',
       'AliceSprings', 'Darwin', 'Katherine', 'Uluru'], dtype=object)

In [11]:
len(weather_australia_df.location.unique())

49

In [12]:
#all the cities do not have the same number of weather observations:

weather_australia_df.location.value_counts()

location
Canberra            3436
Sydney              3344
Darwin              3193
Melbourne           3193
Brisbane            3193
Adelaide            3193
Perth               3193
Hobart              3193
Albany              3040
MountGambier        3040
Ballarat            3040
Townsville          3040
GoldCoast           3040
Cairns              3040
Launceston          3040
AliceSprings        3040
Bendigo             3040
Albury              3040
MountGinini         3040
Wollongong          3040
Newcastle           3039
Tuggeranong         3039
Penrith             3039
Woomera             3009
Nuriootpa           3009
Cobar               3009
CoffsHarbour        3009
Moree               3009
Sale                3009
PerthAirport        3009
PearceRAAF          3009
Witchcliffe         3009
BadgerysCreek       3009
Mildura             3009
NorfolkIsland       3009
MelbourneAirport    3009
Richmond            3009
SydneyAirport       3009
WaggaWagga          3009
Williamtown         3009
Dartmoor            3009
Watsonia            3009
Portland            3009
Walpole             3006
NorahHead           3004
SalmonGums          3001
Katherine           1578
Nhil                1578
Uluru               1578
Name: count, dtype: int64

The column data is a str type, I cast it in datetime

In [13]:
#this is the old type:

weather_australia_df['date'].dtype

dtype('O')

In [14]:
 weather_australia_df['date']= pd.to_datetime(weather_australia_df['date'], format='%Y-%m-%d')
 weather_australia_df['date']

0        2008-12-01
1        2008-12-02
2        2008-12-03
3        2008-12-04
4        2008-12-05
            ...
145455   2017-06-21
145456   2017-06-22
145457   2017-06-23
145458   2017-06-24
145459   2017-06-25
Name: date, Length: 145460, dtype: datetime64[ns]

In [15]:
 #this is the new type:
 
 weather_australia_df['date'].dtype

dtype('<M8[ns]')

In [16]:
#I change the format from year-month-day to day-month-year and I cast to datetime


weather_australia_df['date']= weather_australia_df['date'].dt.strftime('%d-%m-%Y') 
weather_australia_df['date']= pd.to_datetime(weather_australia_df['date'], format='%d-%m-%Y')

In [17]:
weather_australia_df.head(5)

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [18]:
#before starting to clean the dataset let's see how many missing values exist in the dataset

weather_australia_df.isnull().sum()

date                 0
location             0
mintemp           1485
maxtemp           1261
rainfall          3261
evaporation      62790
sunshine         69835
windgustdir      10326
windgustspeed    10263
winddir9am       10566
winddir3pm        4228
windspeed9am      1767
windspeed3pm      3062
humidity9am       2654
humidity3pm       4507
pressure9am      15065
pressure3pm      15028
cloud9am         55888
cloud3pm         59358
temp9am           1767
temp3pm           3609
raintoday         3261
raintomorrow      3267
dtype: int64

The number of null values for 'raintoday', indicating weather or not it rained in a specific city,  has the same number of null values as 'rainfall' which measure the quantity of rain in mm during the day. This is consistent since this indicates that the amount of rain that has fallen is not measured if there is no record of whether it rained or not.

In [19]:
#I group the data points by city in order to see if some cities have no data for specific columns.

weather_australia_groupby_city=weather_australia_df.groupby('location').mean(numeric_only=True)
weather_australia_groupby_city

,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustspeed,windspeed9am,windspeed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm
location,,,,,,,,,,,,,,,,
Adelaide,12.579505,22.898934,1.566354,5.770364,7.747993,36.499211,9.950125,15.471455,59.701066,44.828105,1018.764082,1016.803264,NaN,NaN,16.929046,21.557447
Albany,12.948438,20.070998,2.263859,4.213345,6.657460,NaN,12.503189,18.993498,74.805416,67.407917,1018.275721,1016.497280,5.191539,4.808072,16.236455,18.411555
Albury,9.530604,22.640872,1.914115,NaN,NaN,32.977394,8.211151,14.382965,74.070604,47.869393,1018.369621,1015.760752,6.391001,5.406447,14.361135,21.373780
AliceSprings,13.142284,29.248420,0.882850,9.026832,9.581944,40.531281,14.727452,18.101053,39.690155,24.131466,1016.684732,1012.871913,2.845898,3.251213,21.335658,28.010764
BadgerysCreek,11.131719,24.031208,2.193101,NaN,NaN,33.600409,8.051351,14.005404,76.895770,51.381855,1018.461598,1015.635120,NaN,NaN,16.571698,22.522698
Ballarat,7.367950,18.287266,1.740026,NaN,NaN,44.982719,19.976913,22.766798,81.817820,59.030992,1017.845093,1016.271201,5.797915,6.285643,11.672457,16.788365
Bendigo,8.593713,21.621746,1.619380,3.851730,NaN,38.850000,12.936100,17.159091,70.545664,46.474325,1018.026281,1015.873135,4.400097,4.855379,13.845275,20.249737
Brisbane,16.423807,26.448380,3.144891,5.407940,8.081170,28.212881,6.944236,10.998744,64.043587,53.912209,1018.232989,1015.099278,3.918546,3.879975,21.841173,24.753461
Cairns,21.220467,29.558849,5.742035,6.256891,7.571451,38.031436,15.902929,21.911813,69.936821,61.751645,1014.151333,1011.099441,4.560184,4.445196,25.820105,27.909112
Canberra,6.821866,20.976639,1.741720,4.399672,7.402038,40.064214,10.407546,19.127918,73.218500,45.825350,1018.986480,1016.236299,4.870981,4.784630,12.677297,19.472878
Cobar,13.149451,25.870093,1.127309,6.744861,8.674364,36.750590,14.655749,15.144478,55.152913,33.870666,1017.971937,1015.304325,3.303918,3.859682,18.119160,24.545203
CoffsHarbour,14.437108,23.965385,5.061497,3.905154,7.358367,39.227925,15.280870,21.201916,67.938127,62.351858,1018.215308,1015.829292,4.326958,4.501121,20.170942,22.343873
Dartmoor,8.620034,19.697454,2.146567,3.424808,6.502065,38.898299,10.822970,17.946010,85.217907,62.456537,1018.002479,1016.509885,NaN,NaN,12.588893,18.182139
Darwin,23.209305,32.540977,5.092452,6.318668,8.499310,40.582355,15.009088,20.831401,68.486216,51.827954,1011.888784,1008.349107,4.337093,4.310345,27.185625,31.082733
GoldCoast,17.363286,25.767062,3.769396,NaN,NaN,42.476370,19.349667,25.861416,66.327495,62.980515,1017.922113,1015.214643,NaN,NaN,22.375847,23.771603
Hobart,9.078578,17.865727,1.601819,3.601538,6.580151,47.530915,16.307861,19.813225,65.622055,52.944654,1014.531297,1012.961873,4.839901,4.959012,12.462406,16.172955
Katherine,20.553564,34.935436,3.201090,7.327003,NaN,38.771465,12.134432,15.772901,63.790247,42.761456,1012.791122,1008.486078,2.579701,3.186183,26.649544,33.546604
Launceston,7.836190,18.954911,2.011988,6.166667,NaN,35.634852,8.447117,15.562892,79.500000,57.322442,1015.679279,1013.754213,6.306207,5.718329,12.026269,17.687294
Melbourne,11.779174,20.769358,1.870062,4.650282,6.385307,45.610255,19.128800,22.097401,67.545555,51.180710,1017.634427,1015.778450,5.314034,5.336368,14.596091,19.264489
MelbourneAirport,9.973945,20.491858,1.451977,4.644378,6.381283,46.919172,20.278923,23.081422,70.115961,51.171333,1018.087670,1016.279096,5.246261,5.263298,14.124925,18.952077
Mildura,10.731572,24.840944,0.945062,5.936757,8.468533,37.168775,14.001663,16.694814,64.103792,35.402329,1018.771481,1016.262654,3.382906,3.918909,15.528291,23.427726
Moree,12.905853,26.950548,1.630203,7.624956,8.898589,39.890177,18.129043,16.847372,61.376705,35.808589,1018.312429,1014.928624,3.365844,3.981958,18.867132,25.651113
MountGambier,8.825477,19.828995,2.087562,3.437072,6.511167,42.866466,17.528868,22.433993,75.492734,57.329043,1017.937656,1016.375848,5.520478,5.478840,13.784858,18.176277
MountGinini,3.577280,11.663676,3.292260,NaN,NaN,46.253951,15.991844,15.232377,77.146697,69.722609,NaN,NaN,NaN,NaN,6.815185,10.209180
Newcastle,13.760007,24.101070,3.183892,NaN,NaN,NaN,5.978448,10.614354,74.061429,57.362684,NaN,NaN,4.128306,4.311491,18.119251,22.325534
Nhil,8.999809,22.405153,0.934863,NaN,NaN,42.542438,16.457088,20.948506,73.042594,44.919263,1018.537063,1016.395868,NaN,NaN,13.382708,20.871837
NorahHead,15.355481,22.588937,3.387299,NaN,NaN,42.183051,13.930837,21.027937,74.590756,67.521198,1018.258148,1016.013331,NaN,NaN,18.467611,20.764211
NorfolkIsland,16.871875,21.830253,3.127665,4.742703,7.021751,42.607420,20.173609,21.890921,70.781292,67.836714,1017.597501,1015.856801,5.021067,4.849729,19.783822,20.470070
Nuriootpa,9.363242,21.704133,1.390343,5.082404,7.672577,40.672269,14.242891,18.171304,66.760253,45.425567,1018.910959,1016.790003,4.679389,4.877679,14.852064,20.305663
PearceRAAF,12.303850,26.051238,1.669080,NaN,8.795306,43.579958,16.029107,20.297352,60.823352,42.079142,1017.635609,1015.096075,3.846389,4.031366,18.832230,24.497083
Penrith,12.577449,24.764366,2.175304,NaN,NaN,31.807330,6.357262,11.990391,75.822630,49.098990,NaN,NaN,NaN,NaN,16.984267,23.354091
Perth,12.922706,25.034837,1.906295,5.606579,8.784536,34.882999,10.693392,14.519737,62.688128,46.906122,1017.784398,1015.420457,3.383579,3.469740,18.573598,23.461748
PerthAirport,12.580359,25.533234,1.761648,5.662832,8.795306,44.201822,17.753575,21.268285,58.775673,41.923205,1017.890323,1015.366789,3.371467,3.444260,18.773480,24.086935
Portland,9.586867,18.055053,2.530374,3.424808,6.502065,42.059852,16.329564,20.787828,78.711149,65.991656,1017.684084,1016.624041,6.338082,6.066667,13.195745,16.504204
Richmond,11.364202,24.458664,2.138462,5.259236,NaN,34.866283,7.005732,14.849596,76.897627,49.000000,1018.696812,1015.640753,6.246281,5.510309,16.566015,23.128682
Sale,8.567420,20.282281,1.510167,3.830098,6.683663,42.479777,14.306489,22.265979,78.918729,56.353707,1017.815492,1015.889212,5.345907,5.094383,13.416628,18.782646
SalmonGums,9.313007,24.250827,1.034382,NaN,NaN,39.748372,16.298192,17.302286,62.806408,40.751771,NaN,NaN,NaN,NaN,17.046610,22.661518
Sydney,14.866826,23.001975,3.324543,5.189220,7.179567,41.757589,15.075347,19.324797,68.221989,54.694386,1018.343906,1016.018163,4.180115,4.218626,17.821923,21.533473
SydneyAirport,14.901729,23.383915,3.009917,5.253797,7.191346,47.234280,18.594145,25.769614,64.834719,53.904825,1018.361213,1015.972854,4.280532,4.278498,18.544880,21.780352
Townsville,20.417874,29.367160,3.485592,7.198949,8.457814,38.840570,15.227452,24.251728,63.954276,57.400987,1015.165493,1011.905691,4.300070,4.012667,25.634967,27.769934
Tuggeranong,7.242133,20.767545,2.164043,NaN,NaN,35.215883,7.653183,14.894667,72.827095,47.185724,1018.505622,1015.655680,NaN,NaN,12.573899,19.422472
Uluru,14.466688,30.383195,0.784363,NaN,NaN,41.268373,17.616732,17.028424,42.664107,24.127700,1017.101403,1013.307751,5.543103,4.834532,21.012348,29.054511
WaggaWagga,9.617182,23.031871,1.709946,5.178823,8.197864,36.648105,12.855766,16.218085,67.856953,42.586574,1018.510037,1015.859854,3.854989,4.194993,14.925457,21.749950
Walpole,11.806631,20.459184,2.906846,NaN,NaN,39.818836,13.915910,17.227410,76.119266,66.316022,1017.878811,1016.237047,NaN,NaN,15.926158,18.560134
Watsonia,10.131879,20.896078,1.860820,4.644378,6.381283,38.059219,9.910239,15.183843,78.383973,54.708873,1018.030229,1016.085045,5.246261,5.263298,13.766010,19.395181
Williamtown,12.780180,24.001065,3.591108,6.801387,7.153063,41.677801,16.474599,22.237921,71.773742,53.937708,1018.436370,1015.919746,4.700042,4.484322,18.079694,22.499435
Witchcliffe,10.775067,21.686247,2.895664,NaN,NaN,40.085013,13.966367,19.164616,71.364753,57.780180,1018.395130,1016.732974,NaN,NaN,16.542895,19.810376
Wollongong,14.939471,21.468174,3.594903,NaN,NaN,45.690842,16.618351,21.926270,67.661906,65.128571,1018.149331,1016.055809,6.222305,5.855328,18.190203,19.934872
Woomera,13.363727,26.596707,0.490405,10.141440,9.047932,44.156566,20.002662,20.605728,53.127503,28.402414,1018.632655,1015.969917,2.518027,2.891489,17.924701,25.201896

**DATASET CLEANING**

Some columns are not usefull for further data exploration and anlysis, so they are dropped.

In [20]:
#evaporation column has too many null values and is not usefull for analysing the climate in Australia from 2007 to 2017
#windgustdir column is not usefull for analysing the climate in Australia from 2007 to 2017
#sunshine column has too many null values and is not usefull for analysing the climate in Australia from 2007 to 2017
#cloud9am column has too many null values and is not usefull for analysing the climate in Australia from 2007 to 2017
##cloud3am has too many null values and is not usefull for analysing the climate in Australia from 2007 to 2017
#winddir9pm is not usefull for analysing the climate in Australia from 2007 to 2017
#winddir3pm is not usefull for analysing the climate in Australia from 2007 to 2017


weather_australia_df.drop(['evaporation', 'windgustdir', 'sunshine', 'cloud9am', 'cloud3pm', 'winddir9am', 'winddir3pm'], axis=1, inplace=True)

These are all the columns I am going to work with. For each of these columns, null values need to be fixed.

In [21]:
weather_australia_df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'windgustspeed',
       'windspeed9am', 'windspeed3pm', 'humidity9am', 'humidity3pm',
       'pressure9am', 'pressure3pm', 'temp9am', 'temp3pm', 'raintoday',
       'raintomorrow'],
      dtype='object')

Fixing 'mintemp' null values:

I replace the null values of the 'mintemp' variable with the mean of minimum temperature of each city

In [22]:
#here are the first 2 missing values for minimum temperature

weather_australia_df[weather_australia_df.mintemp.isnull()].head(2)

,date,location,mintemp,maxtemp,rainfall,windgustspeed,windspeed9am,windspeed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,temp9am,temp3pm,raintoday,raintomorrow
284,2009-09-11,Albury,NaN,18.8,NaN,31.0,7.0,19.0,83.0,46.0,1022.2,1018.2,8.7,18.1,NaN,No
444,2010-02-18,Albury,NaN,31.2,NaN,31.0,7.0,7.0,33.0,24.0,1020.4,1019.1,21.0,30.0,NaN,No

In [23]:
#the first two missing values for for minimum temperature must be replaced with the value 9.53 corresponding to Albury

weather_australia_groupby_city.mintemp['Albury']

9.530604159788709

In [24]:
#I replace the null values of the 'mintemp' variable with the mean of mintemp for each specific city

weather_australia_df['mintemp']= weather_australia_df['mintemp'].fillna(weather_australia_df.groupby('location')['mintemp'].transform('mean'))

In [25]:
#I check if the null data have been correctly replaced with the mean of the corresponding city

weather_australia_df['mintemp'][284]

9.530604159788709

In [26]:
#the specific data point now has no missing values for minimum temperature

weather_australia_df.loc[284]

date             2009-09-11 00:00:00
location                      Albury
mintemp                     9.530604
maxtemp                         18.8
rainfall                         NaN
windgustspeed                   31.0
windspeed9am                     7.0
windspeed3pm                    19.0
humidity9am                     83.0
humidity3pm                     46.0
pressure9am                   1022.2
pressure3pm                   1018.2
temp9am                          8.7
temp3pm                         18.1
raintoday                        NaN
raintomorrow                      No
Name: 284, dtype: object

In [27]:
#now there a no missing values for the entire column 'mintemp'

weather_australia_df.isnull().sum()

date                 0
location             0
mintemp              0
maxtemp           1261
rainfall          3261
windgustspeed    10263
windspeed9am      1767
windspeed3pm      3062
humidity9am       2654
humidity3pm       4507
pressure9am      15065
pressure3pm      15028
temp9am           1767
temp3pm           3609
raintoday         3261
raintomorrow      3267
dtype: int64

Fixing 'maxtemp' null values:

I apply the same tecnique as before, I replace the null values with the mean of the correponding city

In [28]:
weather_australia_df['maxtemp']= weather_australia_df['maxtemp'].fillna(weather_australia_df.groupby('location')['maxtemp'].transform('mean'))

In [29]:
#now there a no missing values for the entire column 'maxntemp'

weather_australia_df.isnull().sum()

date                 0
location             0
mintemp              0
maxtemp              0
rainfall          3261
windgustspeed    10263
windspeed9am      1767
windspeed3pm      3062
humidity9am       2654
humidity3pm       4507
pressure9am      15065
pressure3pm      15028
temp9am           1767
temp3pm           3609
raintoday         3261
raintomorrow      3267
dtype: int64

Fixing 'rainfall' and 'raintoday' null values:

I am expecting that the number of missing values of 'rainfall' is equal to the number if missing values of 'raintoday'. Indeed, if it is unknown weather it has rained or not, it should be unknown the number of mm of rain as well.

In [30]:
#I check for the same number of missing values of 'rainfall' and 'raintoday'


len(weather_australia_df[weather_australia_df['rainfall'].isnull()]) == len(weather_australia_df[weather_australia_df['raintoday'].isnull()])

True

In [31]:
#the missing values in 'raintoday' column are replaced with boolean value 'No' which means that precipitation has been less than 1 mm

weather_australia_df['raintoday'].fillna('No', inplace=True)

In [32]:
#the missing values in 'rainfall' column are replaced with value zero

weather_australia_df['rainfall'].fillna(0.0, inplace=True)

In [33]:
weather_australia_df.isnull().sum()

date                 0
location             0
mintemp              0
maxtemp              0
rainfall             0
windgustspeed    10263
windspeed9am      1767
windspeed3pm      3062
humidity9am       2654
humidity3pm       4507
pressure9am      15065
pressure3pm      15028
temp9am           1767
temp3pm           3609
raintoday            0
raintomorrow      3267
dtype: int64

Fixing 'windgustspeed' null values:

for the column concerning the strongest wind gust during the day is not possible to replace the null values with the mean of the correponding city becuase for Albany and Newcastle all values for 'windgustspeed' are null.

the null valus can only be replaced with the mean of all other cities.

In [34]:
weather_australia_groupby_city['windgustspeed']['Albany']

nan

In [35]:
weather_australia_groupby_city['windgustspeed']['Newcastle']

nan

In [36]:
#I replace the null values with the mean of the entire dataset

weather_australia_df['windgustspeed']=weather_australia_df['windgustspeed'].fillna(weather_australia_df['windgustspeed'].mean())

Fixing 'windspeed9am' null values:

I replace the null values with the mean of the correponding city

In [37]:
weather_australia_df['windspeed9am']= weather_australia_df['windspeed9am'].fillna(weather_australia_df.groupby('location')['windspeed9am'].transform('mean'))

Fixing 'windspeed3pm' null values:

I replace the null values with the mean of the correponding city

In [38]:
weather_australia_df['windspeed3pm']= weather_australia_df['windspeed3pm'].fillna(weather_australia_df.groupby('location')['windspeed3pm'].transform('mean'))

Fixing 'humidity9am' null values:

I replace the null values with the mean of the correponding city

In [39]:
weather_australia_df['humidity9am']= weather_australia_df['humidity9am'].fillna(weather_australia_df.groupby('location')['humidity9am'].transform('mean'))

Fixing 'humidity3pm' null values:

I replace the null values with the mean of the correponding city

In [40]:
weather_australia_df['humidity3pm']= weather_australia_df['humidity3pm'].fillna(weather_australia_df.groupby('location')['humidity3pm'].transform('mean'))

Fixing 'pressure9am' null values:

for the column concerning the atmpspheric pressure at 9am is not possible to replace the null values with the mean of the correponding city becuase for Mount Ginini, New Castle, Penrith and SalmonGuns all values for 'pressure9am' are null.

the null valus can only be replaced with the mean of all other cities.

In [41]:
weather_australia_df['pressure9am']=weather_australia_df['pressure9am'].fillna(weather_australia_df['pressure9am'].mean())

Fixing 'pressure3pm' null values:

for the column concerning the atmpspheric pressure at 3pm is not possible to replace the null values with the mean of the correponding city becuase for Mount Ginini, New Castle, Penrith and SalmonGuns all values for 'pressure9am' are null.

the null valus can only be replaced with the mean of all other cities.

In [42]:
weather_australia_df['pressure3pm']=weather_australia_df['pressure3pm'].fillna(weather_australia_df['pressure3pm'].mean())

Fixing 'temp9am' null values:

I replace the null values with the mean of the correponding city

In [43]:
weather_australia_df['temp9am']= weather_australia_df['temp9am'].fillna(weather_australia_df.groupby('location')['temp9am'].transform('mean'))

Fixing 'temp3pm' null values:

I replace the null values with the mean of the correponding city

In [44]:
weather_australia_df['temp3pm']= weather_australia_df['temp3pm'].fillna(weather_australia_df.groupby('location')['temp3pm'].transform('mean'))

Fixing 'raintomorrow' null values:

I replace the null values with boolean Value 'No' meaning that the amount of rain of the next day is less than 1 mm

In [45]:
weather_australia_df['raintomorrow'].fillna('No', inplace=True)

In [46]:
# Now the dataset has no null values inside
weather_australia_df.isnull().sum()

date             0
location         0
mintemp          0
maxtemp          0
rainfall         0
windgustspeed    0
windspeed9am     0
windspeed3pm     0
humidity9am      0
humidity3pm      0
pressure9am      0
pressure3pm      0
temp9am          0
temp3pm          0
raintoday        0
raintomorrow     0
dtype: int64