<a href="https://colab.research.google.com/github/lorenzosquassoni/Programming-Lectures-UNIVR/blob/main/Progetto_Programming_Australia_weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Australia weather 2007-2017

Dataset from https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package

* Location: the common name of the location of the weather station
* MinTemp: the minimum temperature in degrees celsius
* MaxTemp: the maximum temperature in degrees celsius
* Rainfall: the amount of rainfall recorded for the day in mm
* Evaporation: MOLTI DATI MANCANTI evaporation (mm) in the 24 hours to 9am 
* Sunshine: MOLTI DATI MANCANTI the number of hours of bright sunshine in the day 
* WindGusDir: the direction of the strongest wind gust in the 24 hours to midnight
* WindGuSpeed: the speed (km/h) of the strongest wind gust in the 24 hours to midnight
* WindDir9am: direction of the wind at 9am
* WindDir3pm: direction of the wind at 3pm
* WindSpeed9am: wind speed (km/hr) averaged over 10 minutes prior to 9am
* WindSpeed3pm: wind speed (km/hr) averaged over 10 minutes prior to 3pm
* Humidity9am: humidity (percent) at 9am
* Humidity3pm: humidity (percent) at 3pm
* Pressure9am: atmospheric pressure (hpa) reduced to mean sea level at 9am
* Pressure3pm: atmospheric pressure (hpa) reduced to mean sea level at 3pm
* Cloud9am: MOLTI DATI MANCANTI fraction of sky obscured by cloud at 9am. This is measured in "oktas", which are a unit of eigths. It records how many
* Cloud3pm: MOLTI DATI MANCANTIfraction of sky obscured by cloud (in "oktas": eighths) at 3pm. See Cload9am for a description of the values
* Temp9am: temperature (degrees C) at 9am
* Temp3pm: temperature (degrees C) at 3pm
* RainToday: boolean: 1 if precipitation (mm) in the 24 hours to 9am exceeds 1mm, otherwise 0
* RainTomorrow: the amount of next day rain in mm.

In [2]:
import numpy as np
import pandas as pd

In [3]:
#impot the dataset and create a dataframe

weather_australia_df=pd.read_csv('weather_australia.csv')

In [4]:
weather_australia_df.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,58.0,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,No

In [5]:
weather_australia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [6]:
weather_australia_df.describe().T

,count,mean,std,min,25%,50%,75%,max
MinTemp,143975.0,12.194034,6.398495,-8.5,7.6,12.0,16.9,33.9
MaxTemp,144199.0,23.221348,7.119049,-4.8,17.9,22.6,28.2,48.1
Rainfall,142199.0,2.360918,8.478060,0.0,0.0,0.0,0.8,371.0
Evaporation,82670.0,5.468232,4.193704,0.0,2.6,4.8,7.4,145.0
Sunshine,75625.0,7.611178,3.785483,0.0,4.8,8.4,10.6,14.5
WindGustSpeed,135197.0,40.035230,13.607062,6.0,31.0,39.0,48.0,135.0
WindSpeed9am,143693.0,14.043426,8.915375,0.0,7.0,13.0,19.0,130.0
WindSpeed3pm,142398.0,18.662657,8.809800,0.0,13.0,19.0,24.0,87.0
Humidity9am,142806.0,68.880831,19.029164,0.0,57.0,70.0,83.0,100.0
Humidity3pm,140953.0,51.539116,20.795902,0.0,37.0,52.0,66.0,100.0
Pressure9am,130395.0,1017.649940,7.106530,980.5,1012.9,1017.6,1022.4,1041.0
Pressure3pm,130432.0,1015.255889,7.037414,977.1,1010.4,1015.2,1020.0,1039.6
Cloud9am,89572.0,4.447461,2.887159,0.0,1.0,5.0,7.0,9.0
Cloud3pm,86102.0,4.509930,2.720357,0.0,2.0,5.0,7.0,9.0
Temp9am,143693.0,16.990631,6.488753,-7.2,12.3,16.7,21.6,40.2
Temp3pm,141851.0,21.683390,6.936650,-5.4,16.6,21.1,26.4,46.7

In [7]:
weather_australia_df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [8]:
#rename all the columns  with all lower case letters, and remove possible empty spaces at the beginning and end od the column name

weather_australia_df.columns= list(map(lambda x:x.lower().strip(), 
weather_australia_df.columns))


weather_australia_df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'humidity9am', 'humidity3pm',
       'pressure9am', 'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am',
       'temp3pm', 'raintoday', 'raintomorrow'],
      dtype='object')

In [9]:
#here we can see how many missing values exist for each column:

weather_australia_df.isnull().sum()

date                 0
location             0
mintemp           1485
maxtemp           1261
rainfall          3261
evaporation      62790
sunshine         69835
windgustdir      10326
windgustspeed    10263
winddir9am       10566
winddir3pm        4228
windspeed9am      1767
windspeed3pm      3062
humidity9am       2654
humidity3pm       4507
pressure9am      15065
pressure3pm      15028
cloud9am         55888
cloud3pm         59358
temp9am           1767
temp3pm           3609
raintoday         3261
raintomorrow      3267
dtype: int64

In [10]:
weather_australia_df[weather_australia_df['mintemp'].isnull()]

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow
284,2009-09-11,Albury,NaN,18.8,NaN,NaN,NaN,N,31.0,SE,...,83.0,46.0,1022.2,1018.2,NaN,NaN,8.7,18.1,NaN,No
444,2010-02-18,Albury,NaN,31.2,NaN,NaN,NaN,ESE,31.0,SSE,...,33.0,24.0,1020.4,1019.1,NaN,NaN,21.0,30.0,NaN,No
453,2010-02-27,Albury,NaN,26.3,NaN,NaN,NaN,NE,26.0,SE,...,70.0,62.0,1019.4,1018.3,2.0,2.0,20.8,24.8,NaN,Yes
459,2010-03-05,Albury,NaN,22.3,0.0,NaN,NaN,NE,37.0,NE,...,74.0,93.0,1008.8,1006.6,8.0,8.0,20.9,20.1,No,Yes
612,2010-08-05,Albury,NaN,11.8,NaN,NaN,NaN,WSW,28.0,N,...,97.0,65.0,1019.5,1018.3,7.0,4.0,6.7,11.3,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144324,2014-05-17,Uluru,NaN,27.2,NaN,NaN,NaN,NE,19.0,SE,...,43.0,29.0,1020.6,1017.4,NaN,NaN,17.4,25.8,NaN,NaN
144325,2014-05-18,Uluru,NaN,29.1,NaN,NaN,NaN,ESE,24.0,ESE,...,48.0,27.0,1019.8,1016.9,NaN,NaN,20.5,28.3,NaN,NaN
144326,2014-05-19,Uluru,NaN,28.4,NaN,NaN,NaN,E,24.0,SE,...,52.0,29.0,1020.2,1017.1,6.0,NaN,18.9,27.7,NaN,No
144925,2016-01-08,Uluru,NaN,39.0,0.0,NaN,NaN,NaN,NaN,ENE,...,19.0,12.0,1013.0,1009.7,NaN,8.0,33.1,37.7,No,NaN
144950,2016-02-02,Uluru,NaN,35.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,39.0,NaN,1003.8,NaN,NaN,NaN,33.2,NaN,NaN

In [11]:
weather_australia_df.index=weather_australia_df.date

In [12]:
g= weather_australia_df.groupby(pd.Grouper(freq='M'))

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [ ]:
weather_australia_gruopby_city_date= weather_australia_df.groupby(['location', 'date']).mean(numeric_only=True)
weather_australia_gruopby_city

                     mintemp  maxtemp  rainfall  evaporation  sunshine  \
location date
Adelaide 2008-07-01      8.8     15.7       5.0          1.6       2.6
         2008-07-02     12.7     15.8       0.8          1.4       7.8
         2008-07-03      6.2     15.1       0.0          1.8       2.1
         2008-07-04      5.3     15.9       0.0          1.4       8.0
         2008-07-05      9.8     15.4       0.0          NaN       0.9
...                      ...      ...       ...          ...       ...
Woomera  2017-06-21      5.8     19.9       0.0          2.0       NaN
         2017-06-22      7.8     19.0       0.0          1.4       NaN
         2017-06-23      8.0     22.5       0.0          4.0       NaN
         2017-06-24     11.5     20.9       0.0          4.0       NaN
         2017-06-25      6.5      NaN       0.0          4.0       NaN

                     windgustspeed  windspeed9am  windspeed3pm  humidity9am  \
location date
Adelaide 2008-07-01           48.0          13.0          15.0         92.0
         2008-07-02           35.0          13.0          15.0         75.0
         2008-07-03           20.0           2.0          11.0         81.0
         2008-07-04           30.0           6.0          13.0         71.0
         2008-07-05           30.0           9.0           9.0         56.0
...                            ...           ...           ...          ...
Woomera  2017-06-21           22.0          11.0           9.0         52.0
         2017-06-22           31.0          13.0          17.0         48.0
         2017-06-23           33.0          13.0          15.0         57.0
         2017-06-24           33.0           9.0          20.0         61.0
         2017-06-25            NaN           9.0          19.0         87.0

                     humidity3pm  pressure9am  pressure3pm  cloud9am  \
location date
Adelaide 2008-07-01         67.0       1017.4       1017.7       NaN
         2008-07-02         52.0       1022.4       1022.6       NaN
         2008-07-03         56.0       1027.8       1026.5       NaN
         2008-07-04         46.0       1028.7       1025.6       NaN
         2008-07-05         67.0       1023.6       1020.2       NaN
...                          ...          ...          ...       ...
Woomera  2017-06-21         22.0       1027.9       1025.1       1.0
         2017-06-22         37.0       1025.8       1022.2       8.0
         2017-06-23         31.0       1021.0       1018.2       7.0
         2017-06-24         35.0       1019.5       1017.5       7.0
         2017-06-25         51.0       1022.5       1021.6       1.0

                     cloud3pm  temp9am  temp3pm
location date
Adelaide 2008-07-01       NaN     13.5     14.9
         2008-07-02       NaN     13.7     15.5
         2008-07-03       NaN      9.3     13.9
         2008-07-04       NaN     10.2     15.3
         2008-07-05       NaN     11.3     13.8
...                       ...      ...      ...
Woomera  2017-06-21       NaN     11.1     19.1
         2017-06-22       6.0     11.1     18.0
         2017-06-23       3.0     11.5     21.5
         2017-06-24       NaN     12.5     20.7
         2017-06-25       NaN     11.2     16.8

[145460 rows x 16 columns]

In [ ]:
weather_australia_gruopby_city.index

Index(['Adelaide', 'Albany', 'Albury', 'AliceSprings', 'BadgerysCreek',
       'Ballarat', 'Bendigo', 'Brisbane', 'Cairns', 'Canberra', 'Cobar',
       'CoffsHarbour', 'Dartmoor', 'Darwin', 'GoldCoast', 'Hobart',
       'Katherine', 'Launceston', 'Melbourne', 'MelbourneAirport', 'Mildura',
       'Moree', 'MountGambier', 'MountGinini', 'Newcastle', 'Nhil',
       'NorahHead', 'NorfolkIsland', 'Nuriootpa', 'PearceRAAF', 'Penrith',
       'Perth', 'PerthAirport', 'Portland', 'Richmond', 'Sale', 'SalmonGums',
       'Sydney', 'SydneyAirport', 'Townsville', 'Tuggeranong', 'Uluru',
       'WaggaWagga', 'Walpole', 'Watsonia', 'Williamtown', 'Witchcliffe',
       'Wollongong', 'Woomera'],
      dtype='object', name='location')

In [ ]:
weather_australia_gruopby_city

location
Adelaide            12.579505
Albany              12.948438
Albury               9.530604
AliceSprings        13.142284
BadgerysCreek       11.131719
Ballarat             7.367950
Bendigo              8.593713
Brisbane            16.423807
Cairns              21.220467
Canberra             6.821866
Cobar               13.149451
CoffsHarbour        14.437108
Dartmoor             8.620034
Darwin              23.209305
GoldCoast           17.363286
Hobart               9.078578
Katherine           20.553564
Launceston           7.836190
Melbourne           11.779174
MelbourneAirport     9.973945
Mildura             10.731572
Moree               12.905853
MountGambier         8.825477
MountGinini          3.577280
Newcastle           13.760007
Nhil                 8.999809
NorahHead           15.355481
NorfolkIsland       16.871875
Nuriootpa            9.363242
PearceRAAF          12.303850
Penrith             12.577449
Perth               12.922706
PerthAirport        12.580359
Portland             9.586867
Richmond            11.364202
Sale                 8.567420
SalmonGums           9.313007
Sydney              14.866826
SydneyAirport       14.901729
Townsville          20.417874
Tuggeranong          7.242133
Uluru               14.466688
WaggaWagga           9.617182
Walpole             11.806631
Watsonia            10.131879
Williamtown         12.780180
Witchcliffe         10.775067
Wollongong          14.939471
Woomera             13.363727
Name: mintemp, dtype: float64

In [ ]:
weather_australia_df['date'].dtype

dtype('<M8[ns]')

In [ ]:
#the columnn date is casted from str type to datetime type

weather_australia_df.date=pd.to_datetime(weather_australia_df.date, format="%d/%m/%Y")
weather_australia_df.date[1031]

ValueError: time data "2008-12-01" doesn't match format "%d/%m/%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
weather_australia_df.groupby(weather_australia_df.date.month)

AttributeError: 'Series' object has no attribute 'month'

AttributeError: 'Series' object has no attribute 'day'

In [ ]:
weather_australia_df

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [13]:
weather_australia_df['location']

date
2008-12-01    Albury
2008-12-02    Albury
2008-12-03    Albury
2008-12-04    Albury
2008-12-05    Albury
               ...
2017-06-21     Uluru
2017-06-22     Uluru
2017-06-23     Uluru
2017-06-24     Uluru
2017-06-25     Uluru
Name: location, Length: 145460, dtype: object