<a href="https://colab.research.google.com/github/lorenzosquassoni/Programming-Lectures-UNIVR/blob/main/Progetto_Programming_Australia_weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
weather_australia_df=pd.read_csv('/content/weather.csv')

In [5]:
weather_australia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42677 entries, 0 to 42676
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row ID         42677 non-null  object
 1   Location       42677 non-null  object
 2   MinTemp        42483 non-null  float64
 3   MaxTemp        42585 non-null  float64
 4   Rainfall       42250 non-null  float64
 5   Evaporation    24365 non-null  float64
 6   Sunshine       22178 non-null  float64
 7   WindGustDir    39868 non-null  object
 8   WindGustSpeed  39887 non-null  float64
 9   WindDir9am     39670 non-null  object
 10  WindDir3pm     41547 non-null  object
 11  WindSpeed9am   42264 non-null  float64
 12  WindSpeed3pm   41882 non-null  float64
 13  Humidity9am    42136 non-null  float64
 14  Humidity3pm    41573 non-null  float64
 15  Pressure9am    38411 non-null  float64
 16  Pressure3pm    38432 non-null  float64
 17  Cloud9am       26592 non-null  float64
 18  Cloud3pm       25585 non-null  float64
 19  Temp9am        42387 non-null  float64
 20  Temp3pm        41855 non-null  float64
 21  RainToday      42250 non-null  object
dtypes: float64(16), object(6)
memory usage: 7.2+ MB

In [6]:
weather_australia_df.isnull().sum()

row ID               0
Location             0
MinTemp            194
MaxTemp             92
Rainfall           427
Evaporation      18312
Sunshine         20499
WindGustDir       2809
WindGustSpeed     2790
WindDir9am        3007
WindDir3pm        1130
WindSpeed9am       413
WindSpeed3pm       795
Humidity9am        541
Humidity3pm       1104
Pressure9am       4266
Pressure3pm       4245
Cloud9am         16085
Cloud3pm         17092
Temp9am            290
Temp3pm            822
RainToday          427
dtype: int64

In [14]:
weather_australia_df_grup_city=weather_australia_df.groupby('Location').mean()
weather_australia_df_grup_city.shape

<ipython-input-14-28f875dd7746>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  weather_australia_df_grup_city=weather_australia_df.groupby('Location').mean()

(49, 16)

In [17]:
weather_australia_df_grup_city.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49 entries, Adelaide to Woomera
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        49 non-null     float64
 1   MaxTemp        49 non-null     float64
 2   Rainfall       49 non-null     float64
 3   Evaporation    33 non-null     float64
 4   Sunshine       30 non-null     float64
 5   WindGustSpeed  47 non-null     float64
 6   WindSpeed9am   49 non-null     float64
 7   WindSpeed3pm   49 non-null     float64
 8   Humidity9am    49 non-null     float64
 9   Humidity3pm    49 non-null     float64
 10  Pressure9am    45 non-null     float64
 11  Pressure3pm    45 non-null     float64
 12  Cloud9am       37 non-null     float64
 13  Cloud3pm       37 non-null     float64
 14  Temp9am        49 non-null     float64
 15  Temp3pm        49 non-null     float64
dtypes: float64(16)
memory usage: 7.6+ KB

In [9]:
weather_australia_df_quello_che_uso=weather_australia_df[['row ID','Location', 'MinTemp' ]]
weather_australia_df_quello_che_uso

         row ID Location  MinTemp
0          Row0   Albury     12.9
1          Row1   Albury      9.2
2          Row2   Albury     14.3
3          Row3   Albury      9.7
4          Row4   Albury     15.9
...         ...      ...      ...
42672  Row43633    Uluru      2.4
42673  Row43634    Uluru      2.3
42674  Row43635    Uluru      2.6
42675  Row43636    Uluru      7.4
42676  Row43637    Uluru      7.8

[42677 rows x 3 columns]